/* .Layout {
} */
    /* margin-top: 72px; */
    /* background-image: linear-gradient(to bottom, rgb(232,241,249),rgb(203,224,242)); */

.SideBar {
    float: left;
    margin: 10px;
    width: fit-content; 
    align-content: flex-start;
    height: 100%;
    position:absolute; top:137px; left:0; width:200px; height:100%; background-color:#CCCCCC
}
.Content {

    /* margin-left:200px;  */
    height:200%; 
    /* left: 500px; */
}
    /* width: fit-content;
    align-content: center; */
    /* background-color: blue; */
    /* background-image: linear-gradient(to bottom, rgb(232,241,249),rgb(203,224,242));*/


