.SideBar {
    width: 18%;
    justify-content: space-around;
    text-align: justify; 
    float: left;
    margin: 10px;
    /* width: fit-content;  */
    align-content: flex-start;
    height: 700px;
    position:absolute; 
    top: 132px; 
    left:0; 
    background-color:#CCCCCC

}
.SideBar div {
    text-align: justify; 
    width:fit-content;
    justify-content: space-around;
}
/* .SideBar input #number1 {
    width: 20%
}
.SideBar input #number2 {
    width: 20%
} */
.SideBar span {
    text-align: justify; 
    align-content: flex-start;
}
/* .ModelYear {
    justify-content: flex-start;
} */

