.ProductSearch {
    text-align: center;
    justify-self: center;
    top: 15%;
    bottom: 10%;
}
.Home {
    margin-left: 39.2%;
    margin-top: 15%;
	/* left: 30%;
	right: 30%;
    margin-bottom: 10%; */
    justify-content: center;
    width: fit-content;
}
.Enter {
    width: 20%;
    height: 10%;
}
